<!-- sección Blog -->
    <section
      id="blog"
      class="py-10 md:py-12 bg-zinc-900 -mx-4 md:-mx-8 lg:-mx-12 px-4 md:px-8 lg:px-12"
    >
      <h2 class="text-3xl md:text-4xl font-bold mb-6">Blog</h2>
      <p class="text-gray-400">
        Aquí puedes mostrar las últimas entradas de tu blog. Próximamente...
      </p>
    </section>