 <!-- sección proyectos -->
    <section id="proyectos" class="py-10 md:py-12">
      <h2 class="text-3xl md:text-4xl font-bold mb-6">Proyectos</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-zinc-800 rounded-lg p-4">
          <h3 class="text-xl md:text-2xl font-bold mb-2">Proyecto 1</h3>
          <p class="text-gray-400">
            Una breve descripción de tu proyecto. Qué tecnologías usaste y cuál
            fue tu rol.
          </p>
        </div>
        <div class="bg-zinc-800 rounded-lg p-4">
          <h3 class="text-xl md:text-2xl font-bold mb-2">Proyecto 2</h3>
          <p class="text-gray-400">
            Una breve descripción de tu proyecto. Qué tecnologías usaste y cuál
            fue tu rol.
          </p>
        </div>
      </div>
    </section>