---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Stack from "@components/cv/Stack.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      Desarrollador de software autodidacta con experiencia práctica en Python,
      JavaScript, Node.js, React, Tailwind y PostgreSQL. Apasionado por el
      aprendizaje continuo y la innovación tecnológica, he desarrollado diversos
      proyectos personales que demuestran mi capacidad de autogestión,
      resolución de problemas y adaptación a nuevos desafíos. Me considero una
      persona proactiva, responsable y con buenas habilidades de comunicación.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Formación Autodidacta en Desarrollo de Software"
      subtitle="2023 a la fecha, Cursos online y proyectos personales, Remoto">
      Aprendizaje continuo en tecnologías como Python, JavaScript, Node.js,
      React, Tailwind y PostgreSQL, mediante cursos, documentación oficial y
      desarrollo de proyectos propios.
    </TimeLineElement>
    <TimeLineElement
      title="Ingeniería Civil Electrónica"
      subtitle="2019 to 2022 en Universidad Austral de Chile, Valdivia, Chile"
    >Formación sólida en matemáticas avanzadas (Cálculo en varias Variables, Ecuaciones Diferenciales), física y fundamentos de electrónica. Adquirí habilidades analíticas y de resolución de problemas aplicadas a contextos tecnológicos y científicos. Carrera no finalizada.
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador Full Stack en Temply"
      subtitle="2025, Remoto"
    >
      Desarrollo de aplicaciones web y sistemas IoT utilizando tecnologías, typescript, Node.js, Hono, Astro, React, Tailwind y PostgreSQL. En estos
      proyectos he gestionado todo el ciclo de vida del software: análisis,
      diseño, desarrollo, test y despliegue.
    </TimeLineElement>
  </div>

  <!-- TODO: Add Certifications -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Stack</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
  <Stack />
  </ul>
</BaseLayout>
