---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	
	<section>
		<h1>hola, soy diego, web developer</h1>
	</section>
	<section>
		<h2>
			portafolio o proyectos
		</h2>
	</section>
	<section>
		<h2>
			sobre mi
		</h2>
	</section>
	<section>
		<h2>blog</h2>
	</section>
	<section>
		<h2>contacto</h2>
	</section>
</Layout>
