---
import Layout from "@layouts/Layout.astro";
import About from "@components/sections/About.astro";
import Contact from "@components/sections/Contact.astro";
import Blog from "@components/sections/Blog.astro";
import Projects from "@components/sections/Proyects.astro";
import Skills from "@components/sections/Skills.astro";
import Inicio from "@components/sections/Inicio.astro";
---

<Layout>
  <main class="p-4 lg:ml-52 md:ml-52 sm:ml-0 sm:p-8 md:p-10 lg:p-12">
    <div id="home"></div>
    <Inicio />
    <About />
    <Skills />
    <Projects />
    <Blog />
    <Contact />
  </main>
</Layout>




