---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-6">
  <div class="gradient-divider mt-0 mb-6"></div>
  <div class="pb-2 text-base-content/60">
    {today.getFullYear()} | Diego Ignacio Soto
  </div>
  <div class="inline text-base-content/40 text-sm">
    Developed with 💻 by <a
      href="https://github.com/soteiro"
      target="_blank"
      class="font-semibold text-primary/60 hover:text-primary transition-colors"
      >Diego Ignacio Soto</a
    >
  </div>
</footer>
