<aside id="sidebar" class="bg-bg-aside flex flex-col h-screen p-6 text-white fixed top-0 left-0 w-52 border-r border-zinc-800 z-20 -translate-x-full transition-transform md:translate-x-0">
    
    <!-- Logo  -->
    <div class="text-center mb-12">
        <img src="/assets/favicon.svg" alt="Logo" class="w-16 h-16 mx-auto mb-2">

    </div>

    <!-- nav -->
    <nav class="flex-grow">
        <ul class="space-y-2">
            <li><a href="#home" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">Inicio</a></li>
            <li><a href="#sobre-mi" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">Sobre mi</a></li>
            <li><a href="#skills" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">My Skills</a></li>
            <li><a href="#trabajos" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">Trabajos</a></li>
            <li><a href="#blog" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">Blog</a></li>
            <li><a href="#contacto" class="block py-2 px-4 text-xl rounded-md hover:bg-secondary hover:text-zinc-900 transition-colors duration-200">Contacto</a></li>
        </ul>
    </nav>

    <!-- links -->
    <div>
        <ul class="flex justify-center space-x-4">
            <li><a href="#" target="_blank" class="text-gray-400 hover:text-white transition-colors duration-200">GitHub</a></li>
            <li><a href="#" target="_blank" class="text-gray-400 hover:text-white transition-colors duration-200">LinkedIn</a></li>
        </ul>
    </div>
</aside>