<aside class="border border-red-900 bg-green">
    <div>
        <p>logo</p>
    </div>
    <div>
        <ul>
            <li>sobre mi</li>
            <li>my skilss</li>
            <li>trabajos</li>
            <li>contact</li>
            <li>blog</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>github</li>
            <li>linkedin</li>
        </ul>
    </div>
</aside>